{% extends "base.html" %}

{% block content %}


<div class="header">
    <h1>Programiranje</h1>
    
  </div>
  <br><br><br>
<aside>
    <h3>Osnocno o programiranju</h3>
    <p>Web programiranje odnosi se na izradu raznih web stranica ili web aplikacija. U ovom dijelu spomenuti ćemo i objasniti osnovne termine.
         Tako moramo naučiti što je HTML, CSS, JavaScript, PHP, MySQL. Osim toga bitno je znati kako funkcioniraju web stranice, što je server 
         i sl. Pa idemo sada redom od osnova.</p>
    <div class="sve">
        <div class="card">
            <img src="/static/css/img/web-programiranje.jpg" style="width: 200px; height: 220px;"><a href="/index"></a>
            <p><button><a href="/osnovno">Flask</a></button></p>
        </div>
    <div class="card">
        <img src="/static/css/img/učenje-programiranja.webp" style="width: 200px; height: 220px;">
        <p><button><a href="/osnovno">Flask</a></button></p>
    </div>
    <div class="card">
        <img src="/static/css/img/1200px-Flask_logo.svg.png" style="width: 200px; height: 220px;">
        <p><button><a href="/osnovno">Flask</a></button></p>
   
    </div>
    <div class="card">
        <img src="/static/css/img/1_jsgLaIkhgF7SzQS1FWIPug.jpg" style="width: 200px; height: 220px;">
        <p><button><a href="/osnovno">Flask</a></button></p>
    </div>
    </div>
       
</aside>

{% endblock content %}